'use strict';

var fs = require('fs');

const settings = {
  host: 'localhost',
  port: 4444,
  dataPath: './data',

  // initial credentials for admin user
  admin: {
    username: "admin",
    password: "admin"
  },

  tlsKey: fs.readFileSync('tls/server-key.pem'),
  tlsCert: fs.readFileSync('tls/server-cert.pem'),
  tlsClients: [
    {
      type: 'field', // field clients can't change lab inventory
      description: "juul's laptop",
      cert: fs.readFileSync('tls/clients/swabber.localhost.pem')
    },
    {
      type: 'lab', // lab clients have full access to db
      description: "some computer",
      cert: fs.readFileSync('tls/clients/swabber.localhost.pem')
    }
  ]

};

module.exports = settings;
