
#my-plate {
  width: 600px;
  height: 300px;

}
  
.plate {
  display: grid;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  grid-row-gap: 10px;
  background-color: #AAAAAA;
}

.plate .row, .plate .hrow {
    display: grid;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    grid-column-gap: 10px;
}

.plate .hrow .col {
   align-items: center;
   text-align: center;
}

.plate .row .col {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #33BB88;
    margin: 0;
    padding: 0;
}


.col .dot {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #444444;
}

.col .dot:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.plate .row .hcol {
    display: grid;
    align-items: center;
}

.col .green {
    background-color: green;
}

.col .orange {
    background-color: orange;
}
