
#my-plate {
  width: 600px;
  height: 300px;
}
  
.plate-96 {
  display: grid;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  grid-row-gap: 10px;
}

.plate-96 .row, .plate-96 .hrow {
    display: grid;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    grid-column-gap: 10px;
}

.plate-96 .hrow .col {
   align-items: center;
   text-align: center;
}

.plate-96 .row .col {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: green;
    margin: 0;
    padding: 0;
}

.plate-96 .row .col:before {
  content: ' \25CF';
  font-size: 40px;
}

.plate-96 .row .hcol {
    display: grid;
    align-items: center;
}
