



/* -- LABEL -- */

.labelPreview {
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid black;
}


/* -- PRINT -- */

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('/static/fonts/label_printer/FiraSans-Regular.otf');
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('/static/fonts/label_printer/FiraSans-Bold.otf');
}

@font-face {
  font-family: 'FiraSans-Italic';
  src: url('/static/fonts/label_printer/FiraSans-Italic.otf');
}

.print {
  margin-top: 30px;
}

.print form {
  margin-top: 25px;
}

.print .labelPreview {
  display: block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}


/* -- SCAN -- */

.scanCanvas {
    display: none;
}




/* -- PLATE -- */

 
.plate {
  display: grid;
/*  grid-template-rows: 0.5fr repeat(8, 1fr); */
  grid-row-gap: 10px;
  background-color: #AAAAAA;
  width: 600px;
  height: 300px;
}

.plate-small-48 {
  width: 200px;
  height: 120px;
  grid-row-gap: 1px;
  font-size: 10px;
  margin: 20px; 
  float: left;
}

.plate-small-96 {
  width: 200px;
  height: 150px;
  grid-row-gap: 1px;
  font-size: 10px;
  margin: 20px; 
  float: left;
}

.plate-medium-96 {
  width: 350px;
  height: 200px;
  grid-row-gap: 2px;
  font-size: 12px;
  margin: 20px;
  float: left;
}

.plate-medium-384 {
  width: 450px;
  height: 290px;
  grid-row-gap: 2px;
  font-size: 10px;
  margin-left: 0;
  float: left;
}

.plate-medium-384 .row .hcol {
    width: 10px;
}

.plate-large-384 {
  height: 400px;
  grid-row-gap: 5px;
  font-size: 13px;
  margin: 20px;
  margin-left: 0;
}

.plate-large-384 .row .hcol {
    width: 10px;
}

.plate .row, .plate .hrow {
    display: grid;
/*    grid-template-columns: 0.5fr repeat(12, 1fr); */
    grid-column-gap: 10px;
}

.plate-medium-384 .row, .plate-medium-384 .hrow {
  grid-column-gap: 2px;
}

.plate-large-384 .row, .plate-large-384 .hrow {
  grid-column-gap: 5px;
}

.plate-small-96 .row, .plate-small-96 .hrow {
  grid-column-gap: 1px;
}

.plate-small-48 .row, .plate-small-48 .hrow {
  grid-column-gap: 1px;
}

.plate-row-16 {
  grid-template-rows: 0.5fr repeat(16, 1fr);
}

.plate-row-12 {
  grid-template-rows: 0.5fr repeat(12, 1fr);
}

.plate-row-8 {
  grid-template-rows: 0.5fr repeat(8, 1fr);
}



.plate-col-8 .row, .plate-col-8 .hrow {
   grid-template-columns: 0.5fr repeat(8, 1fr);
}

.plate-col-12 .row, .plate-col-12 .hrow {
   grid-template-columns: 0.5fr repeat(12, 1fr);
}

.plate-col-24 .row, .plate-col-24 .hrow {
   grid-template-columns: 0.5fr repeat(24, 1fr);
}

.plate .hrow .col {
   align-items: center;
   text-align: center;
}

.plate .row .col {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #33BB88;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.col .dot {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #444444;
}

.col div.red {
    background-color: red;
}

.col div.green {
    background-color: green;
}

.col div.blue {
    background-color: blue;
}

.col div.purple {
    background-color: purple;
}

.col div.orange {
    background-color: orange;
}

.col div.pink {
    background-color: pink;
}

.col .dot:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.plate .row .hcol {
    display: grid;
    align-items: center;
}

.col .occupied {
    background-color: green;
}

.col .neg-ctrl {
    background-color: blue;
}

.col .pos-ctrl {
    background-color: red;
}

.col .selected {
    background-color: orange;
}

.col .replicate-number {
    display:absolute;
    top:0;
    height:0
}


.occupied-selected {
    background-color: orange;
    border: 2px solid black;
}

/*  plot */

svg.xy-plot-min {

    background-color: white;

    rect.margin {
        fill: white; 
    }
    
    circle.point {
        fill: red;
    }

    line.interpolated {
        stroke: black;
        stroke-width: 1;
    }

    line.axis {
        stroke: black;
        stroke-width: 1;
    }

    line.x-axis {
    }
    
    line.y-axis {
    }

    line.axis-tick {
        stroke: black;
        stroke-width: 1;
    }
    
    line.x-axis-tick {
    }

    line.y-axis-tick {
    }

    text.axis-label {
        color: black;
        font-family: monospace;
        font-size: 11px;
    }
    
    text.x-axis-label {
    }

    text.y-axis-label {
    }
}

/* plot popup */

.popup {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.vert-center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horiz-center {
    width: auto;
}

.popup-box {
    background-color: rgba(200, 200, 200, 1);
    border: 1px solid black;
    padding: 30px 30px;
}

/* loading.js */

.loading {
    font-family: sans-serif;
}


/* map_racks_to_plates.js and map_96_to_384.js */

.save-area {
    float: left;
}

.scan-area {
    width: 40%;
}

.rack-area {
    width: 50%;
    float: left;
}

.plate-area {
    margin-top: -50px;
    width: 49%;
    float: left;
}


.plate96-area {
    margin-top: -50px;    
    width: 45%;
    float: left;
}

.plate384-area {
    width: 54%;
    float: left;
}

.plate384-container {
    position: relative;
    width: 480px;
    height: 320px;
    border: 2px solid black;
}

.plate384-pos-0 > div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.plate384-pos-1 > div {
    position: absolute;
    bottom: 0;
    left: 0;
}

.plate384-pos-2 > div {
    position: absolute;
    top: 0;
    right: 0;
}

.plate384-pos-3 > div {
    position: absolute;
    top: 0;
    left: 0;
}
