



/* -- LABEL -- */

.labelPreview {
    margin-top: 30px;
    margin-left: 20px;
    border: 1px solid black;
}


/* -- PRINT -- */

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('/static/fonts/label_printer/FiraSans-Regular.otf');
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('/static/fonts/label_printer/FiraSans-Bold.otf');
}

@font-face {
  font-family: 'FiraSans-Italic';
  src: url('/static/fonts/label_printer/FiraSans-Italic.otf');
}

.print {
  margin-top: 30px;
}

.print form {
  margin-top: 25px;
}

.print .labelPreview {
  display: block;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}


/* -- SCAN -- */

.scanCanvas {
    display: none;
}




/* -- PLATE -- */

#my-plate {
  width: 600px;
  height: 300px;

}
  
.plate {
  display: grid;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  grid-row-gap: 10px;
  background-color: #AAAAAA;
}

.plate .row, .plate .hrow {
    display: grid;
    grid-template-columns: 0.5fr repeat(12, 1fr);
    grid-column-gap: 10px;
}

.plate .hrow .col {
   align-items: center;
   text-align: center;
}

.plate .row .col {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #33BB88;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.col .dot {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #444444;
}

.col .dot:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.plate .row .hcol {
    display: grid;
    align-items: center;
}

.col .occupied {
    background-color: green;
}

.col .neg-ctrl {
    background-color: blue;
}

.col .pos-ctrl {
    background-color: red;
}

.col .selected {
    background-color: orange;
}

.col .replicate-number {
    display:absolute;
    top:0;
    height:0
}


.occupied-selected {
    background-color: orange;
    border: 2px solid black;
}

/*  plot */

svg.xy-plot-min {

    background-color: white;

    rect.margin {
        fill: white; 
    }
    
    circle.point {
        fill: red;
    }

    line.interpolated {
        stroke: black;
        stroke-width: 1;
    }

    line.axis {
        stroke: black;
        stroke-width: 1;
    }

    line.x-axis {
    }
    
    line.y-axis {
    }

    line.axis-tick {
        stroke: black;
        stroke-width: 1;
    }
    
    line.x-axis-tick {
    }

    line.y-axis-tick {
    }

    text.axis-label {
        color: black;
        font-family: monospace;
        font-size: 11px;
    }
    
    text.x-axis-label {
    }

    text.y-axis-label {
    }
}
